{
  "extends": ["prettier", "airbnb-typescript/base"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-use-before-define": "off",
    "import/prefer-default-export": "off"
  }
}
